.connectForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    min-width: 450px;
    max-width: 500px;
    min-height: 600px;
    background-color: var(--bg-color-semi-transparent);
    backdrop-filter: blur(10px);
    border: 0.75px solid;
    border-color: var(--border-color);
    border-radius: 1rem;
    padding: 2rem 2rem;
    transition: border-color 0.2s ease-in-out;
}

.connectForm:focus-within {
    border-color: var(--accent-color);
}

.connectForm .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.connectForm .formBtn {
    background-color: var(--accent-color);
    color: var(--bg-color);
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-family: inherit;
    text-transform: inherit;
    box-sizing: margin-box;
    box-shadow: 2px 2px 8px rgba(var(--shadow-color), var(--shadow-alpha));
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-radius 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.connectForm .subTitle {
    font-size: 1.5rem;
    margin-top: 0.2rem;
}

.connectForm .subtle {
    font-size: 1rem;
    opacity: 0.7;
}

.connectForm .account {
    color: var(--accent-color);
    text-shadow: 0px 0px 12px var(--accent-color);
}