:root {
  --accent-color: #00b981;
  --accent-color-semi-transparent: #00b98184;
  --text-color: #000000;
  --bg-color: #fff;
  --bg-color-semi-transparent: rgba(255, 255, 255, 0.6);
  --bg-color-08: rgba(255, 255, 255, 0.8);
  --bg-inv-semi-transparent: rgba(0, 0, 0, 0.2);
  --shadow-color: 0, 0, 0;
  --shadow-alpha: 0.6;
  --border-color: #2d2d2d;
  --navbar-height: 60px;
  --screen-size: calc(100vh - var(--navbar-height));
  --grid-gap: 1.5em;
  --default-padding: 1.5rem 1.5rem;
  --borderWidth: 1.25px;
  --glow-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --bg-color: #000;
    --bg-color-semi-transparent: rgba(0, 0, 0, 0.6);
    --bg-color-08: rgba(0, 0, 0, 0.8);
    --bg-inv-semi-transparent: rgba(255, 255, 255, 0.2);
    --border-color: #cccccc;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: var(--text-color);
}

::selection {
  background-color: var(--accent-color-semi-transparent);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  transition: filter 0.2s ease-in-out;
}

a:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding-top: var(--navbar-height);
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.fill-bg {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.side-margin {
  margin: 0 1rem;
}

.magic-bg {
  opacity: 0.3;
  display: block;
  filter: blur(20px);
  background: radial-gradient(
      circle at 78% 35%,
      var(--accent-color) 0%,
      var(--accent-color) 6%,
      transparent 25%,
      transparent
    ),
    radial-gradient(
      circle at 17% 63%,
      var(--accent-color) 0%,
      var(--accent-color) 3%,
      transparent 26%,
      transparent
    ),
    radial-gradient(
      circle at 42% 34%,
      var(--accent-color) 0%,
      var(--accent-color) 8%,
      transparent 37%,
      transparent
    ),
    radial-gradient(
      circle at 64% 65%,
      var(--accent-color) 0%,
      var(--accent-color) 2%,
      transparent 28%,
      transparent
    );
  animation: magic 60s ease infinite alternate;
}

@keyframes magic {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  }
  20% {
    transform: translate(143px, 187px) rotate(24deg) scale(1.3, 1.2);
  }
  40% {
    transform: translate(-122px, -152px) rotate(12deg) scale(1.2, 1.4);
  }
  60% {
    transform: translate(134px, 144px) rotate(-15deg) scale(1.3, 1.1);
  }
  80% {
    transform: translate(-154px, 97px) rotate(5deg) scale(1.4, 1.3);
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: stretch;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: stretch;
}

.stretch {
  align-items: stretch;
}
