.home {
  justify-content: space-around;
}

.heroSection {
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.partners {
  /* nothing here yet */
}

.partnersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
