.mainContainer {
  width: 100%;
  height: var(--screen-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1.5rem;
}

.motto {
  font-size: 200%;
  justify-self: flex-start;
  align-self: flex-start;
}

.motto .emphasize {
  color: var(--accent-color);
  text-shadow: 0px 0px 8px var(--accent-color);
}

.contentContainer {
  background-color: var(--bg-color-semi-transparent);
  border: var(--borderWidth) solid;
  border-color: var(--border-color);
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;
}

.contentHeader {
  background-color: var(--bg-color-semi-transparent);
  border-bottom: var(--borderWidth) solid var(--border-color);
  padding: 1em;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow-y: auto;
}

.placeholder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  height: 450px;
  width: 300px;
}

.cardImage {
  max-width: 100%;
  max-height: 55%;
  min-width: 60%;
  min-height: 35%;
}

.cardImageError {
  width: stretch;
  height: auto;
  opacity: 0.5;
}

.cardPrice {
  color: var(--accent-color);
  text-shadow: 0px 0px 8px var(--accent-color);
}

.priceRange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.wideField {
  width: 200px;
}

.narrowField {
  width: 100px;
}

.popupImage {
  max-height: 200px;
}

.popupInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  text-align: center;
}

.popupNotice {
  font-size: 140%;
  text-transform: capitalize;
}
