.header {
  background-color: var(--bg-color);
  display: flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  margin: 0;
  color: var(--text-color);
  padding: 0.3rem 64px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(var(--shadow-color), var(--shadow-alpha));
  z-index: 10;
}

.header a {
  color: var(--text-color);
}

.logoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.logo img {
  filter: invert(1);
}

.switchUser {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--text-color);
}

.navSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.launches,
.zen {
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-bottom: 0.1rem;
  border-bottom: solid var(--accent-color);
  border-bottom-width: 0px;
  transition: color 0.2s ease-in-out;
}

.launches:hover,
.zen:hover {
  color: rgba(var(--text-color), 0.7);
}

.navBarButton {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: inherit;
  text-transform: inherit;
  box-sizing: margin-box;
  box-shadow: 2px 2px 8px rgba(var(--shadow-color), var(--shadow-alpha));
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-radius 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarButton:hover {
  box-shadow: 2px 2px 8px rgba(var(--shadow-color), var(--shadow-alpha));
  border-radius: 0.2rem;
  cursor: pointer;
}
