.header {
    background-color: var(--bg_color);
    border-bottom: 3px solid var(--accent-color);
    display: flex;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    height: 60px;
    margin: 0;
    color: var(--text_color);
    padding: 0.3rem;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 2px 2px 8px rgba(var(--shadow-color), var(--shadow-alpha));
    z-index: 10;
}

.header a {
  color: var(--text_color);
}

.navbarRight {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-right: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.navbarRight > a {
  border-bottom: solid var(--accent-color);
  border-bottom-width: 0px;
  padding-bottom: 0.1rem;
  transition: border-bottom-width 0.2s ease-in-out;
}

.navbarRight > a:hover {
  border-bottom: solid var(--accent-color);
  border-bottom-width: 2px;
}