.header {
  display: flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  height: var(--navbar-height);
  font-size: 105%;
  margin: 0;
  color: var(--text-color);
  padding: 0rem 3rem;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--bg-color);
  box-shadow: 2px 2px 8px rgba(var(--shadow-color), var(--shadow-alpha));
  transform: translateY(0);
  opacity: 0.9;
  z-index: -1;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.header.transparent::after {
  box-shadow: 2px 2px 8px transparent;
  opacity: 0;
  transform: translateY(-100%);
}

.header a {
  color: var(--text-color);
}

.logoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.switchUser {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--text-color);
}

.navSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

a.navLink {
  position: relative;
  text-transform: uppercase;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  letter-spacing: 0.1rem;
}

a.navLink:hover {
  transform: translateY(-0.05rem);
}

a.navLink:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

a.navLink:hover:after {
  transform: scaleX(1);
}

.logoLink {
  height: inherit;
  display: inline-block;
  position: relative;
}

.navBarButton {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: inherit;
  text-transform: inherit;
  box-sizing: margin-box;
  box-shadow: 2px 2px 8px rgba(var(--shadow-color), var(--shadow-alpha));
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-radius 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarButton:hover {
  box-shadow: 2px 2px 8px rgba(var(--shadow-color), var(--shadow-alpha));
  border-radius: 0.2rem;
  cursor: pointer;
}

.userText {
  display: inline-block;
  font-size: 70%;
  opacity: 0.5;
  position: relative;
  left: -1.5rem;
}

.userText .userType {
  color: var(--accent-color);
  text-transform: capitalize;
}

.accountContainer {
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  filter: none;
  letter-spacing: 0rem !important;
  transition: transform 0.2s ease-in-out;
}
.accountContainer::after {
  bottom: -6px !important;
}

.accountContainer:hover {
  cursor: pointer;
  filter: none;
  transition: opacity 0.2s ease-in-out;
}

.accountDesc {
  opacity: 0.6;
  font-size: 80%;
}

.accountContainer:hover .accountDesc {
  opacity: 1;
}
