.itemInfoBox {
  margin: 20px;
}

.line1,
.line2,
.line3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.name,
.ipfs {
  width: 100%;
}

.attribute,
.symbol {
  width: calc(50% - 16px);
}

.line2 {
  justify-content: space-between;
}

.addItemBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.quantity,
.trait {
  flex: 1;
}

.addButton {
  width: 32px;
  height: 32px;
  background-color: #007bff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.addButton:hover {
  background-color: #0069d9;
  color: white;
}

.itemImageBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust this value based on the desired height of the itemImageBox */
}

.image {
  max-width: 100%;
  max-height: 100%;
  /* round corners slightly */
  border-radius: 5px;
}

.imgButtonBox {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
