@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap");

.launch {
  /* launch */

  /* Auto layout */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 64px;

  width: 1030px;
  height: 704px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.itemSection {
  /* item-section */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 104px;

  width: 1030px;
  height: 320px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.launchSection {
  /* launch-section */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 108px;

  width: 1030px;
  height: 320px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.itemSectionLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 606px;
  height: 320px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.itemInfo {
  width: 606px;
  height: 195px;

  background: #abbfcb;
  border-radius: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.itemImage {
  width: 320px;
  height: 320px;

  background: #abbfcb;
  border-radius: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.addItem {
  width: 606px;
  height: 93px;

  background: #abbfcb;
  border-radius: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.launchList {
  width: 462px;
  height: 320px;

  background: #abbfcb;
  border-radius: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.deployLaunch {
  width: 460px;
  height: 320px;

  background: #abbfcb;
  border-radius: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
}

.boxtext {
  position: absolute;
  left: 29px;
  top: -10px;
  width: 300px;

  /* H3

nav bar
*/
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  letter-spacing: 0.4px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
